*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: aqua;
    background-color: #FEEBEF;
    overflow: hidden;
}

.main {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-main {
    /* display: none; */
    position: relative;
    width: 1060px;
    height: 536px;
    box-shadow: 0px 15px 22px rgba(121, 54, 68, 0.225628);
    /* display: flex;
    justify-content: center;
    align-items: center; */

    background-image: url('./images/7b4478fbc5fcb0a7dcd9392de03e0440b9536cc4.png');
}

.newspaper-with-coffee {
    position: absolute;
    width: 434.18px;
    height: 413.87px;
    right: 3px;
    bottom: 1px;
}

.newspaper-with-coffee img {
    /* position: absolute; */
    width: 434.18px;
    height: 413.87px;
}

.face {
    position: absolute;
    right: 316px;
    bottom: 374px;
    width: 92.95px;
    height: 113px;
}

.face img{
    width: 92.95px;
    height: 113px;
}

.money {
    position: absolute;
    bottom: 129px;
    right: 479px ;
    width: 197.5px;
    height: 147.5px;
}

.money img{
    width: 197.5px;
    height: 147.5px;
}

.start {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 146px;
    height: 56px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;

    bottom: 41px;
    right: 861px;
    /* margin: 439px 861px 41px 53px; */
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 2px
}

.test {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 510px;
    height: 164px;
    bottom: 304px;
    right: 498px;
    /* margin: 68px 498px 304px 52px; */
}

.test-Test {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 65px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #E25A76;
    border: 1px solid #E25A76;
    box-sizing: border-box;

    color: white;
    font-size: 18px;
    line-height: 21px;
    /* right: 499px;
    bottom: 422px; */
    margin: 0.37px 0.58px 117.63px 444.12px;
}

.test-h1{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    margin: 40.45px 25px 43.55px 0px;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
}

.test-p{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin: 136.45px 89.04px 0.55px 0px;
    font-size: 18px;
    line-height: 27px;
}